<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>CG recruitment challenge by Karol Szpek</title>
</head>
<body>
    <div class="container">
        <div class="header1">
            <img src="./assets/assets/logo.svg" class="logo">
        </div>
        <div class="header2">
            <div class="header2_left">
                <div class="header2_title">Lorem ipsum dolor sit amet</div>
                <div class="header2_body">
                    <div class="header2_body_title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                    <div class="header2_body_content">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </div>
                </div>
                <div class="header2_button">
                    <button class="button">LEARN MORE</button>
                    <div class="header2_arrow"><img src="./assets/ico/arrow.svg"></div>
                </div>
            </div>
            <div class="header2_linesanddots">
                <div class="header2_lines"><img src="./assets/assets/ico/lines.svg"></div>
                <div class="header2_dots"><img src="./assets/assets/ico/ovals.svg"></div>
            </div>
            <img src="./assets/assets/img/photo.jpg" class="header2_image">
        </div>
        <div class="main">
            <div class="main_left">
                
                <div class="main_title">How it works?</div>
                <img src="./assets/assets/ico/yellow_dot.svg" class="main_dot">
                
                
            </div>
            <div class="main_right">
                <!-- <div class="main_title">How it works?</div>
                <div class="main_dot"><img src="./assets/assets/ico/yellow_dot.svg"></div> -->
            </div>
            <div class="post">
                <div class="post_header">
                    <div class="assets">
                        <img src="./assets/assets/img/head_2.svg" class="post_head">
                        <img src="./assets/assets/ico/block.svg" class="post_block">
                    </div>
                    <div class="post_title">Block the cheaters</div>
                </div>
                <div class="post_content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="post">
                <div class="post_header">
                    <div class="assets">
                        <img src="./assets/assets/img/head_1.svg" class="post_head">
                        <img src="./assets/assets/ico/find.svg" class="post_block">
                    </div>
                    <div class="post_title">Find good rivals</div>
                </div>
                <div class="post_content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_copyright">
                <div>Copyrights © 2019 by Kerris Group. </div>
                <div>All rights reserved.</div>
            </div>
            <div class="footer_dots_container"><img src="./assets/assets/ico/ovals.svg" class="footer_dots"></div>
        </div>
    </div>
</body>
</html>