/* MIN WIDTH 1201PX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    letter-spacing: 0;
    /* font-size: 14px; */
    height: 100%;
}

.container {
    max-width: 1920px;
    margin: auto;
    /* border: solid black 1px; */
}

.header1 {
    margin: 1.15rem auto 1.15rem 26.8rem;
}

.header2 {
    background: #FFC625;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 681px;
}

.header2_left {
    padding-top: 7rem;
    padding-bottom: 5.8rem;
    display: flex;
    flex-direction: column;
    margin-left: 26.8rem;
    justify-content: space-between;
    /* max-width: 28%;  */
    min-width: 544px;
    min-height: 681px;
}

.header2_title {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    font-size: 4.3rem;
    line-height: 5.9rem;
}

.header2_body {
    font-weight: 900;
    font-size: 1rem;
    color: #091E2B;
    text-align: left;
    line-height: 1.8rem;
}

.header2_body_content {
    font-weight: 500;
    color: #090000;
    letter-spacing: 0;
}

.header2_image {
    min-width: 50%;
    /* height: auto;
    justify-self: flex-end; */
}

.button {
    min-width: 347px;
    min-height: 53px;
    font-weight: 500;
    background: #6C7DE3;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.header2_arrow {
    transform:
        translateX(-35%)
        rotate(90deg)
        translateX(42%)
}

.header2_lines {
    position: relative;
    left: 9rem;
    top: -2rem;
}

.header2_dots {
    position: relative;
    left: 5rem;
    top: 6rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2.5rem 26.8rem;
    grid-gap: 4rem;
}

.main_title {
    font-weight: 700;
    font-size: 4.3rem;
    color: #231F20;
    letter-spacing: 0;
    line-height: 5.9rem;
    max-width: 80%;
    margin-bottom: 3.7rem;
}

.post_title {
    font-weight: 500;
    font-size: 2.6rem;
    color: #231F20;
    letter-spacing: 0;   
}

.post_content {
    font-weight: 500;
    font-size: 1rem;
    color: #091E2B;
    letter-spacing: 0;
    text-align: left;
    line-height: 1.8rem;
    margin-left: 7em;
}


.assets {
    display: flex;
    justify-content: space-between;
}

.post_title {
    position: relative;
    top: -1em;
    left: 2em;
}

.post_block {
    position: relative;
    top: -3rem;
}

.footer_copyright {
    font-weight: 400;
    font-size: 1rem;
    color: #7E7E7E;
    letter-spacing: 0;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 7.2rem 26.8rem;
}


@media (max-width: 1920px) {

    .header1 {
        margin: 0.8rem auto 0.8rem 13.4rem;
    }

    .header2 {
        max-height: 550px;
    }

    .header2_left {
        /* padding-top: 7rem;
        padding-bottom: 5.8rem;
        display: flex;
        flex-direction: column; */
        margin-left: 13.4rem;
        /* justify-content: space-between; */
        /* max-width: 28%;  */
        min-width: 400px;
    }

    .header2_image {
        min-width: 45%;
        /* height: auto;
        justify-self: flex-end; */
    }

    .main {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; */
        margin: 2.5rem 13.4rem;
        /* grid-gap: 4rem; */
    }

    .main_title {
        /* font-weight: 700;
        font-size: 4.3rem;
        color: #231F20;
        letter-spacing: 0;
        line-height: 5.9rem; */
        max-width: 90%;
        /* margin-bottom: 3.7rem; */
    }

    .footer {
        /* display: flex;
        justify-content: space-between; */
        margin: 3.6rem 13.4rem;
    }
    
}

/* TABLETS LANDSCAPE AND OLDER MONITORS */
@media (max-width: 1366px) {

    * {
        font-size: 16px;
    }

    .container {
        max-width: 1366px;
    }

    .header1 {
        margin: 0.8rem auto 0.8rem 3.6rem;
    }

    .header2 {
        max-height: 520px;
    }

    .header2_left {
        /* padding-top: 7rem;
        padding-bottom: 5.8rem;
        display: flex;
        flex-direction: column; */
        margin-left: 3.6rem;
        /* justify-content: space-between; */
        /* max-width: 28%;  */
        min-width: 500px;
    }

    .header2_title {
        /* font-weight: 400;
        display: flex;
        flex-wrap: wrap; */
        font-size: 3rem;
        line-height: 4rem;
    }

    .header2_lines {
        position: relative;
        left: 8rem;
        top: -2rem;
    }
    
    .header2_dots {
        position: relative;
        left: 4.5rem;
        top: 6rem;
    }
    

    .main {
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; */
        margin: 1.5rem 3.6rem;
        /* grid-gap: 4rem; */
    }

    .main_title {
        /* font-weight: 700; */
        font-size: 3.7rem;
        /* color: #231F20;
        letter-spacing: 0;
        line-height: 5.9rem; */
        max-width: 100%;
        /* margin-bottom: 3.7rem; */
    }

    .footer {
        /* display: flex;
        justify-content: space-between; */
        margin: 1.8rem 3.6rem;
    }
    
}

/* TABLETS PORTRAIT */
@media (max-width: 1024px) {

    .container {
        max-width: 1024px;
    }

    .header1 {
        margin: 0.6rem auto 0.6rem 3.6rem;
    }

    .header2 {
        max-height: 500px;
    }

    .header2_left {
        /* padding-top: 7rem;
        padding-bottom: 5.8rem;
        display: flex;
        flex-direction: column; */
        margin-left: 3.6rem;
        /* justify-content: space-between; */
        /* max-width: 28%;  */
        /* min-width: 544px;
        min-height: 681px; */
    }

}

/* MOBILE LANDSCAPE */
@media (max-width: 768px) {

    .container {
        max-width: 768px;
    }

}

/* MOBILE PORTRAIT */
@media (max-width: 420px) {

    .container {
        max-width: 420px;
    }

}