* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    letter-spacing: 0;
    font-size: 14px;
    height: 100%;
}

.container {
    max-width: 1920px;
    margin: auto;
    /* border: solid black 1px; */
}

.header1 {
    margin: 1.15rem auto 1.15rem 26.8rem;
}

.header2 {
    background: #FFC625;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 681px;
}

.header2_left {
    padding-top: 7rem;
    padding-bottom: 5.8rem;
    display: flex;
    flex-direction: column;
    margin-left: 26.8rem;
    justify-content: space-between;
    max-width: 28%; 
    height: 681px;
}

.header2_title {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    font-size: 4.3rem;
    line-height: 5.9rem;
    /* CHANGE TO 415PX !!! */
}

.header2_body {
    font-weight: 900;
    font-size: 14px;
    color: #091E2B;
    text-align: left;
    line-height: 25px;
}

.header2_body_content {
    font-weight: 500;
    color: #090000;
    letter-spacing: 0;
}

.header2_image {
    min-width: 50%;
    justify-self: flex-end;
}

.button {
    min-width: 347px;
    min-height: 53px;
    font-weight: 500;
    background: #6C7DE3;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.header2_arrow {
    transform:
        translateX(-35%)
        rotate(90deg)
        translateX(42%) /* go from bottom right to top right */
}

.header2_lines {
    position: relative;
    left: 9rem;
    top: -2rem;
}

.header2_dots {
    position: relative;
    left: 5rem;
    top: 6rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2.5rem 26.8rem;
    grid-gap: 4rem;
}

.main_title {
    font-weight: 700;
    font-size: 4.3rem;
    color: #231F20;
    letter-spacing: 0;
    line-height: 5.9rem;
    max-width: 80%;
}

.post_title {
    font-weight: 500;
    font-size: 2.6rem;
    color: #231F20;
    letter-spacing: 0;   
}

.post_content {
    font-weight: 500;
    font-size: 1rem;
    color: #091E2B;
    letter-spacing: 0;
    text-align: left;
    line-height: 1.8rem;
    margin-left: 7em;
}


.assets {
    display: flex;
    justify-content: space-between;
}

.post_title {
    position: relative;
    top: -1em;
    left: 2em;
}

.post_block {
    position: relative;
    top: -3rem;
}

.footer_copyright {
    font-weight: 400;
    font-size: 1rem;
    color: #7E7E7E;
    letter-spacing: 0;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 7.2rem 26.8rem;
}